.modal__content.modal__content__type__image {
  padding: 0;
}

.modal__image {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  border-radius: 16px 16px 0 0;
}

.modal__footer {
  padding: 20px 0 32px 32px;
  margin: 0;
}

.modal__caption {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 0;
}

.modal__caption-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 32px;
}

.modal__weather {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-bottom: 0;
  margin-top: 12px;
}

.modal__delete-button {
  margin: 0;
  background: transparent;
  border: none;
  color: rgba(255, 77, 0, 1);
  padding: 0;
  width: 101px;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
