.modal__login-button {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.3);
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  padding: 8px 16px 8px 0;
  transition: color 0.3s ease;
  margin-top: 12px;
}

.modal__login-button:hover {
  color: black;
}
